@charset "utf-8";
body,form,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,p,hr,input,em{margin:0;padding:0;list-style:none;-webkit-text-size-adjust:none; vertical-align: middle; font-weight:normal;}
body{ font-size:14px; color:#000; font-family:'\5FAE\8F6F\96C5\9ED1','Nanum Gothic','-apple-system',"Malgun Gothic",ngwoff,ngeot,nmwoff,nmeot,Dotum,Gulim,Tahoma,Geneva,sans-serif,verdana;}
body,html{height: 100%;}
h1,h2,h3,h4,h5,h6{font-size:100%}
table,img{border:none}ul{list-style:none}
a{ color:#000; text-decoration:none;outline:none;}
a:hover {color:#036fc6;text-decoration:none;}
a:active {color:#000;text-decoration:none;}
ol,ul {list-style:none;}
fieldset,img {border:0;}
i,em{ font-style:normal;}
.left{ float:left;}
.right{ float:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}/* Hides from IE-mac \*/
* html .clearfix{height:1%;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
